body {
   font-family: Helvetica"
   margin: 0;
   border: dashed 1px red;
}

.header {
  margin: auto;
  width: 80%
  border: dashed 1px red;
}

.main-section {
  margin: auto;
  width: 80%
  border: dashed 1px red;
}
 
.wrapper {
  margin: auto;
  width: 80%
  border: dashed 1px red;
}

.logo,.menu {
  display: inline-block;
  border: dashed 1px red;
}
 
.logo {
  margin-right: 63%
}
  
p {
     font-family: arial;
}

.title {
      font-family: Roboto;
}